<div class="row">
                        <div class="col-md-4 form-group">
                            <input type="text" class="form-control"
                                   style="border-radius:0px"
                                   placeholder="Short List"
                                   data-ng-model="shortlist" >
                        </div>
                        <div class="col-md-12">
                            <!--<div class="col-md-1">-->
                                <!--<div class="btn-group">-->
                                    <!--<button title="" data-toggle="popover" data-html="true" data-content="<div class='padding-10'><div class='checkbox clip-check check-primary'><input type='checkbox' id='checkbox1' value='1'><label for='checkbox1'>Filter 1 Filter 1 Filter 1 Filter 1</label></div><div class='checkbox clip-check check-primary'><input type='checkbox' id='checkbox2' value='1'><label for='checkbox2'>Filter 2</label></div><div><a href='#' class='text-small'>Save as my default</a></div><div class='margin-bottom-15'><a href='#' class='btn btn-primary btn-wide'>Done</a></div></div>" class="btn btn-danger dropdown-toggle">-->
                                        <!--<i class="fa fa-cog fa-spin"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="input-group col-md-1 pull-left margin-bottom-10">-->
                                <!--<select class="form-control">-->
                                    <!--<option value="5">Page 100</option>-->
                                    <!--<option value="10">Page 200</option>-->
                                    <!--<option value="15">Page 300</option>-->
                                    <!--<option value="20">Page 400</option>-->
                                    <!--<option value="25">Page 500</option>-->
                                <!--</select>-->
                            <!--</div>-->

                            <!--<div class="col-md-4 pull-right">-->
                                <!--<ul class="pagination margin-top-10 margin-bottom-10 pull-right">-->
                                    <!--<li><a href="#"><i class="ti-arrow-left"></i></a></li>-->
                                    <!--<li data-ng-repeat="i in range"><a href="#">{{i}}</a></li>-->
                                    <!--<li><a href="#"><i class="ti-arrow-right"></i></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        </div>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="sample-table-1">
                                    <thead>
                                        <tr>
                                            <td ng-repeat="col in objectKeys(headers) ">{{ headers[col] }}</td>
                                            <td ng-if="actions">Actions</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="row in data.data | filter:shortlist" >
                                        <td ng-repeat="col in objectKeys(headers)">{{row[col]}}</td>
                                        <td ng-if="actions" >
                                            <a href="javascript:void(0)" ng-repeat="act in actions"
                                               class="btn {{act.class}} btn-xs"
                                               style="margin-right: 5px;"
                                               ng-click="act.fn(row[act.key])"      >
                                                <span class="glyphicon {{act.icon}}"></span>
                                                {{act.label}}
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12  margin-bottom-10">
                            <div class="input-group col-md-1 pull-left margin-bottom-10">
                                    <select ng-model="perPage"
                                            class="form-control"
                                            ng-change="resGetter({'limit':perPage})"
                                            ng-options="n as n for n in perPageOpt">
                                    </select>
                            </div>
                            <div class="col-md-4 pull-right">
                                <ul class="pagination margin-top-10 margin-bottom-10 pull-right">
                                    <li ng-if="currentPage !== 1"><a href="javascript:void(0)" ng-click="resGetter({'page':currentPage-1})"><i class="ti-arrow-left"></i></a></li>
                                    <li data-ng-repeat="i in range"><a href="javascript:void(0)" ng-click="resGetter({'page':i})" >{{i}}</a></li>
                                    <li ng-if="currentPage !== lastPage"><a href="javascript:void(0)" ng-click="resGetter({'page':currentPage+1})" ><i class="ti-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-12 inline-block">
                            <button type="print" class="btn btn-wide btn-primary">Print &nbsp;<i class="ti-printer"></i></button>
                            <button type="export" class="btn btn-wide btn-primary">Export &nbsp;<i class="ti-export"></i></button>
                        </div>
                    </div>